.landing-block {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
    overflow: hidden;
}

.centralTitle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 34vh auto;
    padding: 40px;
    padding-top: 50px;
    padding-left: 60px;
    width: 900px;
    height: 274px;
    box-sizing: border-box;
    border: solid 1px rgb(226, 226, 226);
    transition: 0.5s;
    cursor: pointer;
}

.centralTitle:hover {
    border: solid 1px rgb(255, 222, 112);
}

.centralTitle:hover .landing-underTitle{
    color: rgb(255, 222, 112);
}

.landing-title {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 73px;
    text-align: left;
    color: #eeeeee;
}

.landing-underTitle {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 2px;
    text-align: right;
    color: #eeeeee;
    transition: 0.5s;
}

.MoreButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 14px;
    left: 50%;
    width: 56px;
    height: 70px;
    transform: translateX(-50%);
    cursor: pointer;
}

.MoreButton-text{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-transform: lowercase;
    color: #d2d2d2;
}

.MoreButton-img {
    position: relative;
    width: 40px;
    animation: arrow  1s infinite ease-in-out;
}

@keyframes arrow {
    from { 
        top: 0;
    }
    50% {
        top: 8px;
    }
    to {
        top: 0;
    }
}