.member-page {
  margin: 0 auto;
  padding: 10px;

  text-align: center;

  user-select: none;
}

.member-page h1,
.member-page h2{
  margin: 0;
  margin-bottom: 20px;
}

.member-page h1 {
  margin-top: 80px;
}

.member-photo,
.member-page-work-location,
.member-page-video,
.member-page-photo {
  margin-bottom: 20px;
}

.member-page-timeline-action {
  color: #f2f2f2;
}

.member-page-show-video-button {
  padding: 5px;

  color: #f2f2f2;
  font: inherit;
  font-size: 20px;

  border: 1px solid #f2f2f2;

  text-decoration: none;
  background-color: inherit;
}

.member-page-show-video-button:hover {
  cursor: pointer;

  color: #434343;

  background-color: #f2f2f2;
}

.member-page-navigation .search-button {
  display: none;
}

.worksListItem {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 10fr;
}
